[build]
  base = ""
  publish = "deploy"
  command = "swift run --configuration release Mhoush && npm install -g html-minifier && npm install -g pnpm@latest-10 && pnpm install && pnpm run css-build && html-minifier --collapse-whitespace --input-dir deploy --file-ext html --output-dir deploy"

[build.environment]
  SWIFT_VERSION = "6.0.1"
  NODE_VERSION = "20"
