/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
@import url('https://fonts.cdnfonts.com/css/avenir');
@import "tailwindcss";

@font-face {
  font-family: "Anonymous Pro";
  src: local("Anonymous Pro Regular"), url(/static/AnonymousPro-Regular.ttf);
}

:root {
  --accent:#A6E3A1;
  --background:rgb(34, 33, 41);
  --color:#fff;
  --border-color:hsla(0,0%,100%,0.1);
  --phoneWidth:(max-width:684px);
  --tabletWidth:(max-width:900px)
  --orange:#F5A87F;
  --green:#A6E3A1;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-center: space-between;
}
.header__logo {
  display: flex;
  flex: 1;
}
.header__logo:after {
  content:"";
  background:repeating-linear-gradient(90deg,#ffa86a,#ffa86a 2px,transparent 0,transparent 10px);
  background:repeating-linear-gradient(90deg,var(--accent),var(--accent) 2px,transparent 0,transparent 10px);
  display:block;
  width:100%;
  right:10px
}
.header__logo a {
  flex:0 0 auto;
  max-width:100%;
  text-decoration:none
}

.logo {
  display:flex;
  align-items:center;
  text-decoration:none;
  background:#ffa86a;
  background:var(--accent);
  color:#000;
  padding:5px 10px
}

.header .menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 10px;
}

nav a {
  @apply block border-b-2 border-transparent;
}

nav a:hover {
  @apply border-orange-400;
}

nav a.active {
  @apply border-orange-400 text-white;
}

a.green:hover {
  @apply underline;
}

.site-footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
.site-footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100px;
}

.post-title {
  --border:3px dotted var(--accent);
  position:relative;
  color:#ffa86a;
  color:var(--accent);
  margin:0 0 15px;
  padding-bottom:15px;
  border-bottom:var(--border)
}
.post-title:after {
  content:"";
  position:absolute;
  bottom:2px;
  display:block;
  width:100%;
  border-bottom:var(--border)
}
.post-title a {
  text-decoration:none
}
.text-orange {
	@apply text-orange-400;
}

/* BODY */

body.home .site-footer {
  @apply hidden;
}

body {
	background: var(--background);
	color: var(--color);
}

/* Typewriter */
.typewriter h1 {
  overflow: hidden;
  border-right: .15em solid #F5A87F;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #F5A87F; }
}


/* PROSE */

/* .prose { */
/*   @apply prose-code:before:hidden prose-code:after:hidden; */
/* } */

.prose code {
  @apply font-normal text-base;
}

.prose pre {
  @apply shadow-lg;
}

/* .prose hr { */
/*   margin-left: 140px; */
/*   margin-right: 140px; */
/* } */

.prose a {
  text-decoration:none
}
.prose a {
  @apply border-b-2 border-transparent;
	color: var(--green)
}

.prose a:hover {
  @apply border-b border-orange-400;
}

.text-green {
  color: var(--green)
}

.fa-regular {
  font-weight: normal;
}

@media (min-width: 860px) {
  .prose pre {
    margin-left: -20px;
    width: 840px;
    padding-left: 20px;
  }

  body.projects .bg-sub {
    margin-left: -20px;
    width: 840px;
    padding-left: 20px;
  }
}
